header
{
    color: aliceblue;
    text-align: left;  
    padding-top: 1em;
    padding-left: .5em;
    padding-bottom: .25em;
    font-size: 2.5em;
    background-image: linear-gradient(to right, #008383, #008383, #827EC7, #5A53C5);
    width: 100%;
}

.menudiv
{
  width: 30px;
  height: 4px;
  background-color: aliceblue;
  margin: 6px 0;
}

.menucontainer
{
   position: absolute;
    top: 1em;
    right: .5em;
    z-index: 1;
}

button
{
    outline: none;
    border: none;
}

.menu 
{

    float: left;
  overflow: hidden;
}

.menu .menubtn {
    padding-top: .5em;
    padding-bottom: .5em;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    color: aliceblue;
}

.menu-dropdown-content {
  display: none;
  position: absolute;
  background-color: #827EC7;
    font-size: 50%;
    font-weight: normal;
    margin-left: -130px;
    color: aliceblue;
  z-index: 2;
}

.menu-dropdown-content a {
  float: none;
  padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
  text-decoration: none;
  display: block;
  text-align: left;
    color: aliceblue;
}

.menu-dropdown-content a:hover {
  background-color: #5A53C5;
}

.menu:hover .menu-dropdown-content {
  display: block;
}


nav
{ 
    width: 100%;
    font-size: 120%;
    text-align: center;
    background-color: #E0DEFF;
    margin-bottom: 3em;
    overflow: hidden;
    color: aliceblue;
    background-image: linear-gradient(to right, #008383, #008383, #827EC7, #5A53C5);
}

.smallarrow
{
    font-size: 50%;
}

nav a
{
    float: left;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
}

nav a:link
{
    color: aliceblue;
}

nav a:visited
{
    color: aliceblue;
}

nav a:hover, .dropdown:hover, .dropbtn
{
    color: aliceblue;
    background-color: #67B6B6;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #827EC7;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding-left: 1.5em;
    padding-right: 1.5em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #5A53C5;
}

.dropdown:hover .dropdown-content {
  display: block;
}


